.backColorUser {
    background-color: rgb(248, 250, 252);
}
#iconUser {
    width: 60px;
    float: left;
    margin: 40px 20px 10px 0px;
}
#titleGesUser {
    float: left;
    margin: 45px 20px 10px 0px;
    text-shadow: 1px 1px 3px rgb(53, 92, 150);    
}
.divTitleUser {
    margin-top: 90px;    
}
#text {
    color: rgb(1, 69, 105);
    border-color: rgb(1, 54, 97);
    background-color: rgb(248, 250, 252);
    border-bottom: none;
}
.nav-tabs {
    border-color: rgb(1, 54, 97);    
    margin-left: 55px;
    margin-right: 55px;
}
.iconsEditUser {
    width: 20px;
}
#btnEditUser {
    margin-right: 10px;
}
.btnEditUser {
    border: none;
    background: none;
}
#modalUserolor {
    background-color: rgb(2, 129, 240);
    color: aliceblue;
}
#divSearch {
    width: 30%;
    height: 50px;
    position: relative;
    border: 1px solid rgb(1, 54, 97) !important;
    top: 70px;
    left: -70px;    
}
#titleSearchUser {
    margin-top: 5px;
    margin-left: 15px;
    text-shadow: 1px 1px 3px rgb(53, 92, 150); 
}

