.backColorSales {
    background-color: rgb(248, 252, 248);
}
#iconSale {
    width: 60px;
    float: left;
    margin: 40px 20px 10px 0px;
}
#titleGesSale {
    float: left;
    margin: 45px 20px 10px 0px;
    text-shadow: 1px 1px 3px rgb(2, 94, 10);    
}
.divTitleSale {
    margin-top: 90px;    
}
#textSale {
    color: rgb(4, 105, 46);
    border-color: rgb(3, 112, 12);
    background-color: rgb(248, 252, 248);
    border-bottom: none;
}
#navTabsSale {
    border-color: rgb(3, 112, 12);
    margin-left: 55px;
    margin-right: 55px;
}
#divSearchSale {
    width: 30%;
    height: 50px;
    position: relative;
    border: 1px solid rgb(3, 112, 12) !important;
    top: 70px;
    left: -51px;    
}
#titleSearchSale {
    margin-top: 5px;
    margin-left: 15px;
    text-shadow: 1px 1px 3px rgb(2, 94, 10); 
}
#inputColorSale {
    border-color: rgb(169, 212, 175);
}
.iconEditSale {
    width: 20px;
    margin-left: 15px;
}
.btnEditSale {
    border: none;
    background: none;    
    margin: 0;
    padding: 0;
}
.setDivSales {
    max-width: 100%;
    margin: 25px auto;
    text-align: right;
    margin-bottom: 20;
}
.setBtnSales {
    width: 50%;
}
#div2Sale {
    text-align: left;
}
#input {
    width: 70px;
}
.iconsEditSales {
    width: 20px;
}
#btnEditSales {
    margin-right: 10px;
}
.btnEditSales {
    border: none;
    background: none;
}
#headColor {
    background-color: #117845;
    color: #fff;
}
#tamModal {
    max-width: 76%;
}